# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\repo2020\py-test-repo\Modern-Portfolio-Theory\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
